body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.header-line-colur {
    color: blue;
}

.link-colour {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding-left: 5%;
    padding-right: 8%;
    border-radius: 30px;
    font-weight: 700;
}


.section-contain {
    display: flex;
    margin-bottom: 100px;
}

.fliex-contain {
    width: 50%;
    padding: 5%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 30px #aaaaaa;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.second-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.background-add {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.exprience-part {
    display: flex;

}


#div-border {
    border-left: solid 5px red;
}

#div-2-border {
    border-left: solid 5px blue;
}