body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 32px;
}

.span-color {
    color: chocolate;
}

.first-section {
    display: flex;
}

#first-background {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#second-backgraund {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#thard-background {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}

.half-widh {
    width: 50%;
    padding-left: 3%;

}

.link-add {
    text-decoration: none;
    background-image: linear-gradient(rgba(229, 255, 0, 0.979), rgb(226, 109, 88));
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-weight: 700;


}

.exprinece-half-width {
    width: 37%;
    padding-left: 5%;
    padding-right: 2%;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;
    border-radius: 20px;
    box-shadow: 10px 10px 30px;
}

#border-colour {
    border-left: red solid;
}

#div-colour {
    border-left: blue solid;
}

footer {
    text-align: center;
}